{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Michigan Hackers{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.page-wrapper').fadeIn('slow', function() {
            $('.content-row').slideDown('slow');
        });
    });
</script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">


    {% block page_content %}
    	<div class="page-wrapper">
    		<div class="container-fluid">
    			<div class="row title-row">
    				<div class="col-md-12 hidden-sm hidden-xs">
                        <div class="title-wrapper center_text">
                            <img class="logo-title" src="{{ url_for('static', filename='img/mh-logo-title.png') }}">
                        </div>
    				</div>
                    <div class="col-xs-12 hidden-md hidden-lg hidden-xl">
                        <div class="logo-wrapper center_text">
                            <img class="logo-icon" src="{{ url_for('static', filename='img/mh-logo-icon.png') }}">
                        </div>
                    </div>
    			</div>
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
    			<div class="row content-row">
    				<div class="col-md-1"></div>
    				<div class="col-md-10">
                        <div class="row content-line">
                            <div class="col-md-12 center_text">
                                <h3>Looking to get involved with Michigan Hackers? Subscribe to our mailing list here:</h3>
                            </div>
                        </div>
                        <div class="row content-line">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                            {{ wtf.quick_form(form) }}
                            </div>
                            
                            <div class="col-md-2"></div>
                        </div>
    				</div>
    				<div class="col-md-1"></div>
    			</div>
    		</div>



		</div>
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}


